[submodule "3rd-party/character_escaper"]
	path = 3rd-party/character_escaper
	url = https://github.com/27629678/character_escaper.git
[submodule "3rd-party/uitoolkit_ios"]
	path = 3rd-party/uitoolkit_ios
	url = https://github.com/27629678/uitoolkit_ios.git
